<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Swag Labs Suite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="LoginPage Test" thread-count="5" verbose="2" parallel="classes">
        <classes>
            <class name="runner.TestRunner"/>

        </classes>
    </test>


</suite>
